/* Root */
:root {
  --primary-color: #ff5400;
  --secondary-color: #131318;
}
/* Shared Styles */
.primary-color {
  color: var(--primary-color);
}
.section-title {
  color: var(--secondary-color);
  text-align: center;
  font-family: Mulish;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  padding: 10px 25px;
  margin-top: 10px;
}
hr {
  background: rgba(19, 19, 24, 0.1);
  width: 393px;
  height: 1px;
  border: none;
  margin-bottom: 10px;
}
.footer-logo {
  justify-content: center;
}
/* Header Styles */
/* Nav Styles */
nav {
  margin: 0px 90px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul > li {
  list-style: none;
  margin-right: 30px;
}
.logo {
  display: flex;
}
.logo img {
  width: 56px;
  height: 48px;
}
.nav-title {
  color: #131318;
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 800;
  margin-top: 0;
}
.hamburger {
  display: none;
}
/* Banner Styles */
.banner {
  margin: 0 60px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group 13 (1) (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}
.banner-description {
  color: #fff;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 250px;
  text-align: center;
  margin-top: 0;
}
.banner-form form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  height: 84px;
  width: 800px;
  border-radius: 8px;
}
.banner-form input,
select {
  background-color: #fff;
  color: rgba(19, 19, 24, 0.5);
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  margin-right: 10px;
}
.banner-form button {
  background-color: var(--primary-color);
  color: #fff;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 700;
}

/* Main Styles */

.popular-tours {
  display: flex;
  margin: 60px 60px;
}
.popular-tours li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.popular-tours-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 70px;
}
.destination-texts {
  align-items: center;
  text-align: center;
  padding: 0 300px;
}
.destination-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.destination-images img {
  width: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.grid-item-text {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features-box {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 10px;
}
.features-box-2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 10px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
}
.features-text p {
  align-items: center;
  text-align: center;
  padding: 0 300px;
  margin-top: 0;
}
.features-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin: 5px 0;
}

.newsletter-form {
  width: 474px;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter-subscribe input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 393px;
  height: 52px;
  border: none;
  padding-left: 5px;
}
.newsletter-subscribe button {
  border-radius: 8px;
  background: var(--primary-color);
  width: 393px;
  height: 52px;
}
.newsletter-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.newsletter {
  display: flex;
  justify-content: space-evenly;
  margin: 60px;
}
.newsletter-texts {
  margin: 0 40px;
}
.save-up {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: var(--primary-color);
  text-align: center;
  position: absolute;
  top: 58%;
  left: 50%;
}
.save-up-text-1 {
  margin: 0;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 400;
}
.save-up-text-2 {
  margin: 0;
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 800;
}
.apartment-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 30px;
}
.apartment-images img {
  width: 100%;
  width: 100%;
  border-radius: 16px;
}
.apartment-images h3,
p {
  margin: 0;
  padding-left: 5px;
}
.best-properties-texts p {
  padding: 0 200px;
  text-align: center;
}
/* Footer Styles */
footer {
  width: 100%;
  height: 202px;
  background: rgba(19, 19, 24, 0.05);
  align-items: center;
  text-align: center;
  padding: 60px 0;
}
.footer-texts {
  padding: 0 280px;
}
/* Small Devices CSS */
@media screen and (max-width: 600px) {
  header {
    padding: 5px 10px;
  }
  nav {
    margin: 0 0;
  }
  nav ul {
    display: none;
  }
  .hamburger {
    display: block;
    margin-top: 18px;
  }
  .banner {
    margin: 0 10px;
  }
  .banner-form form {
    height: 300px;
    width: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-form input,
  select,
  button {
    margin: 5px;
  }
  .banner-title {
    font-family: Mulish;
    font-size: 1.375rem;
    font-weight: 800;
    margin-top: 10px;
  }
  .banner-description {
    padding: 0 10px;
  }
  .popular-tours {
    flex-direction: column;
    margin: 20px 20px;
  }
  .section-title {
    margin-bottom: 10px;
  }
  .popular-tours-text {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .destination-images {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .destination-images img {
    height: 298px;
  }
  .destination-texts {
    align-items: center;
    text-align: center;
    padding: 0 10px;
  }
  .features {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 15px;
  }
  .features-text p {
    align-items: center;
    text-align: center;
    padding: 0 10px;
  }
  .features-box {
    width: 95%;
    height: 100%;
  }
  .features-box-2 {
    width: 95%;
    height: 100%;
  }
  .newsletter {
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }
  .newsletter-form {
    margin: 10px;
    width: 100%;
  }
  .newsletter-images img {
    margin: 10px;
    width: 100%;
  }
  .save-up {
    margin: 0;
    width: 162px;
    height: 60px;
    top: 65%;
    left: 62%;
  }
  .save-up-text-1 {
    margin: 0;
    font-size: 1rem;
  }
  .save-up-text-2 {
    margin: 0;
    font-size: 1.3rem;
  }
  .footer-texts {
    padding: 0 10px;
  }
  .apartment-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
  }
  .best-properties-texts p {
    padding: 0 10px;
    text-align: center;
  }
}
/* Medium to Tablet Devices CSS*/
@media screen and (min-width: 600px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  .banner {
    margin: 0 10px;
  }
  .banner-form form {
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-form input,
  select,
  button {
    margin: 5px;
  }
  .banner-title {
    font-family: Mulish;
    font-size: 1.375rem;
    font-weight: 800;
    margin-top: 10px;
  }
  .banner-description {
    padding: 0 10px;
  }
  .popular-tours {
    flex-direction: column;
    margin: 20px 20px;
  }
  .section-title {
    margin-bottom: 10px;
  }
  .popular-tours-text {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .destination-images {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .destination-images img {
    height: 298px;
  }
  .destination-texts {
    align-items: center;
    text-align: center;
    padding: 0 10px;
  }
  .features {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 15px;
  }
  .features-text p {
    align-items: center;
    text-align: center;
    padding: 0 10px;
  }
  .features-box {
    width: 95%;
    height: 100%;
  }
  .features-box-2 {
    width: 95%;
    height: 100%;
  }
  .newsletter {
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }
  .newsletter-form {
    margin: 10px;
    width: 100%;
  }
  .newsletter-images img {
    margin: 10px;
    width: 100%;
  }
  .save-up {
    margin: 0;
    width: 162px;
    height: 60px;
    top: 65%;
    left: 62%;
  }
  .save-up-text-1 {
    margin: 0;
    font-size: 1rem;
  }
  .save-up-text-2 {
    margin: 0;
    font-size: 1.3rem;
  }
  .footer-texts {
    padding: 0 10px;
  }
  .apartment-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
  }
  .best-properties-texts p {
    padding: 0 10px;
    text-align: center;
  }
}
